@media onlyscreen and (min-width: 36em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .columns {
        max-width: 60em;
        margin: 20px;
        height: 1500px;
    }

    div header {
        max-width: 93.75em;
        margin: 0 auto;
        width: auto;
    }

    footer { 
        max-width: 129em;
        height: auto;
    }
}


