@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Shadows+Into+Light&display=swap');

body {
    grid-template-columns: span 3;
    background-color:rgba(245, 167, 193, 1);
    max-width: 128em;
    min-width: 35em;
    max-height: auto;
    margin-top: 5px;
    align-content: center;
}
a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-align: center;
}

.content a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-align: center;
}

.content a:hover {
    color: rgb(231, 5, 81, 1);
}

div header {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 10px;
}

footer {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    text-align: center;
    max-width: 128em;
    height: 70px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
}

header .subheading {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 1);
}

header a {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

main {
    max-width: 60em;
    max-height: auto;
    align-content: center;
}

.columns h2 {
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
}

footer p {
    text-align: center;
    padding: 10px;
}

h1,
h2 {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

img {
    width: 15.63em;
    height: auto;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 20px;
    border-color:  rgba(245, 167, 193, 1);
    border-radius: 8px;
    align-content: center;
    box-shadow: 10px 10px 4px rgba(136, 136, 136, 1)
}

p {
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

a {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

a :hover {
    color: rgb(231, 5, 81, 1);
}

.columns {
    display: grid;
    max-width: 25em;
    height: auto;
    overflow: hidden;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    border-radius: 10px;
}

.columns a {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 1);
}

.review {
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

img {
    color: rgba(0, 0, 0, 1);
    max-width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    align-content: center;
}
