@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body {
  max-width: 1200px;
  margin: 0 auto;
}

main .container {
  max-width: 1200px;
  margin: 0 auto;

  padding: 20px;

}

header {
  max-width: 1200px;
  padding: 5px;
  background-color: #172a39;
  color: #f4d35f;
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin: 0 auto;
}

.container .mainmenu {
  max-width: 1200px;
  margin: 0 auto;

  align-content: center;
}

nav ul {
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  position: static;
  background-color: #172a39;
}

nav a {
  display: block;
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  align-content: center;
  color: #d8e3ff;
}

nav a:hover {
  color: #172a39;
  background-color: #f4d35f;
}

nav li {
  max-width: 1200px;
  display: inline-block;
  list-style-type: none;
  height: auto;
  width: auto;
  margin: 0 auto;
  align-content: center;
}

.palette h2 {
  font-family: 'Bree Serif', serif;
  color: #172a39;

  margin: 50px;
  background-color: #d8e3ff;

}



.palette {
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  background-color: #d8e3ff;
  max-width: 1200px;
  margin: 0 auto;
}

.palette img {
  background-color: #d8e3ff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #172a39;
  box-shadow: 10px 10px 4px #8a7968;
  overflow: hidden;
  display: block;
  width: 90%;
}

.columns {
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  background-color: #d8e3ff;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.columns h2 {
  font-family: 'Bree-serif', serif;

  margin: 50px;
  background-color: #d8e3ff;

}

.columns img {
  background-color: #d8e3ff;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #172a39;
  box-shadow: 10px 10px 4px #8a7968;
  overflow: hidden;
  display: block;
}

.background,
.navigation,
.accents {
  max-width: 1200px;
  display: block;
  margin: 50px;
  padding: 5px;
  overflow: hidden;
  background-color: #d8e3ff;
  font-family: 'Poppins', sans-serif;

  position: relative;
}

.background p,
.navigation p,
.accents p {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 50px;

  background-color: #d8e3ff;
  align-content: center;
  position: relative;

}


.background h3,
.navigation h3,
.accents h3 {
  font-family: 'Poppins', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #d8e3ff;


}

footer {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  background-color: #172a39;
  color: #d8e3ff;
  padding: 5px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
 }

footer a {
  color: #d8e3ff;
}

footer a:hover {
  color: #f4d35f;
}