@media only screen and (min-width: 960px) {
    body {
        max-width: 1200px;
      }
      
      main .container {
        max-width: 1200px;
      }

      header {
        max-width: 1200px;
    }
      
    .container .mainmenu {
        max-width: 1200px;

    }

nav ul {
    max-width: 1200px;
}

nav li {
  max-width: 1200px;
}

.columns {
    max-width: 1200px;
}

.background p,
.navigation p,
.accents p {
    max-width: 1200px;
}

.background h3,
.navigation h3,
.accents h3 {
    max-width: 1200px;
}

footer p {
    max-width: 1200px;
}
}