@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Stoke&display=swap');

body {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffdead;
}

header {
    display: block;
    margin: 0 auto;
    background-color: #ffba00;
    padding: 25px;
    text-align: left;    
}

header .logo {
    width: 75px;
    padding: 40px 45px 10px 25px;
    float: right;
}

#primaryNav {
    font-size: 25px;
    font-weight: bold;
}

nav button {
    padding: 0px 5px;
    background-color: #ffdead;
    color: #3c1414;
    border: #3c1414;
    font-size: 10vw;
    border-radius: 5px;
    margin: 55px;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: #a40000;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type: none;
    padding-right: 15px;
    margin: 0;
}

nav ul li {
    padding-bottom: 15px;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffdead;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ffba00;
    color: #3c1414;
    font-weight: bold;
    border-radius: 5px;
}

nav ul li a:active {
    background-color: #ffba00;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: 'Stoke', serif;
    color: #3c1414;
    font-size: 30px;
    padding: 10px 15px 10px 25px;
    text-align: left;
    align-items: center;
}

.byline p {
    display: block;
    color: #3c1414;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
}

h2 {
    color: #a40000;
}

h3 {
    color: #a40000;
}

p {
    color: #3c1414;
}