@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Shadows+Into+Light&display=swap');

body{
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    background-color: rgba(245, 167, 193, 1);
    align-content: center;
}

div header { 
    max-width: 1200px;
    height: 175px;
    padding: 5px;
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    margin: 0 auto; 
    text-align: center;
 }

 a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-align: center;
}

header a:hover {
    color: rgba(231, 5, 81, 1)
}

header h1 {
    max-height: 100px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 25px;
}

header a {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
font-family: 'Poppins', sans-serif;
font-size: 1.5em;
align-items: center;
justify-content: center;
}

header .subheading {
    display: flex;
    background-color: rgba(245, 167, 193, 1);
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    overflow: hidden;
}

.columns {
    max-width: 55em;
    overflow: hidden;
    display: grid;
    margin: auto;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: relative;
}

.columns a {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-size: .75em;
    text-decoration: none;
    text-align: center;
}

.columns a:hover {
    color: rgba(231, 5, 81, 1)
}

div {
    width: auto;
}

.columns h2 {
    background-color: rgba(255, 255, 255, 1);
    color:rgba(0, 0, 0, 1);
    font-family: 'Shadows Into Light', cursive;
    padding: 5px;
    text-align: center;
}

img {
    width: 14em;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
    align-content: center;
    box-shadow: 10px 10px 4px rgba(136, 136, 136, 1);
    border-style: solid;
    border-width: 15px;
    border-radius: 10px;
    border-color: rgba(245, 167, 193, 1);
    overflow: hidden;
}

footer {
    max-width: 1200px;
    height: 70px;
    margin: 0 auto;
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer p {
    text-align: center;
    padding: 10px;
}

h1 {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}


p {
    color: rgba(0, 0, 0, 1);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: left;
    margin-right: 5px;
    margin-left: 20px;
    padding: 5px;
}

a {
    background-color: rgba(245, 167, 193, 1);
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h2 a :hover {
    color: rgb(231, 5, 81, 1);
}

.review h2 {
    font-size: 1em;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.review a {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: .65em;
}

.review {
    max-width: 800px;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
 }
