/*Medium Screen*/
@media only screen and (min-width: 650px) {
 
    picture img {
      max-width: 100%;
      height: auto;
    }
    
    .heading h1 {
      font-size: 2rem;
    }
    
     nav button {
        display: none;
      }
      nav ul.hide{
        display: block;
      }
      #primaryNav {
        display: flex;
      }
      nav ul li { 
        flex: 1 1 100%; 
        text-align: center;
    }
      main .largerp {
        margin: 0 auto;
      }
    }    