@media only screen and (min-width: 800px) {
  body {
    max-width: 1400px;
  }

  main {
    max-width: 1400px;
    margin: auto;
  }

  main .largerp {
    margin: 0 auto;
  }

  .falls img {
    max-width: 1000px;
  }

  nav ul li {
    font-size: 18px;
  }
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img {
    max-width: 400px;
  }

  figcaption {
    font-size: 15px;
  }

  main .homepage {
    margin: 5px 10px 50px 10px;
  }

  .homepage div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin: 20px;
    justify-content: center;
  }

div .towns {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
  }

 .sort div .fishhaven {
    width: auto;
    grid-column-start: 1;
    max-width: 150px;
  }

  .fishhaven img {
    grid-column-start: 1;
    justify-items: end;
  }

  .sort div .preston {
    width: auto;
    grid-column-start: 2;
    max-width: 150px;
  }

  .preston img {
    grid-column-start: 2;
  }

  .sort div .sodasprings {
    width: auto;
    grid-column-start: 3;
    max-width: 150px;
  }

  .sodasprings img {
    grid-column-start: 3;
  }

  .sort .fishhaven h2 {
    grid-column: 1;
    margin: 0;
}

.sort .preston h2 {
  grid-column: 2;
  margin: 0;
}

.sort .sodasprings h2 {
  grid-column: 3;
  margin: 0;
}

.sort .fishhaven h3 {
  grid-column: 2;
  margin: 0;
}

.sort .preston h3 {
  grid-column: 2;
  margin: 0;
}

.sort .sodasprings h3 {
  grid-column: 2;
  margin: 0;
}

.sort .fishhaven p {
  grid-column: 2;
  margin: 0;
}

.sort .preston p {
  grid-column: 2;
  margin: 0;
}

.sort .sodasprings p {
  grid-column: 2;
  margin: 0;
}

  footer {
    margin: auto;
  }

  footer li .map {
    max-width: 450px;
  }

  div .article {
    margin-top: 30px;
  }

  .heading h1 {
    font-size: 45px;
  }
}