@media only screen and (min-width: 800px) {
  body {
    max-width: 1400px;
  }

  main {
    max-width: 1400px;
    margin: auto;
  }

  main .largerp {
    margin: 0 auto;
  }

  .falls img {
    max-width: 1000px;
  }

  nav ul li {
    font-size: 18px;
  }
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img {
    max-width: 400px;
  }

  figcaption {
    font-size: 15px;
  }

  main .homepage {
    margin: 5px 10px 50px 10px;
  }
.towns section {
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
  }

  .fishhaven {
    grid-column-start: 1;
    max-width: 150px;
  }

  .fishhaven img {
    grid-row-start: 2
  }

  .preston {
    grid-column-start: 2;
    max-width: 150px;
  }

  .preston img {
    grid-row-start: 2
  }

  .sodasprings {
    grid-column-start: 3;
    max-width: 150px;
  }

  .sodasprings img {
    grid-row-start: 2
  }

  footer {
    margin: auto;
  }

  footer li .map {
    max-width: 450px;
  }

  div .article {
    margin-top: 30px;
  }

  .heading h1 {
    font-size: 45px;
  }
}