@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');
body {
    display: block;
    margin: 8px;
}

h1, h2 {
    margin: 5px;
    font-family: 'Bree Serif', serif;
    color: #5E5C7B;
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

header {
    width: 100%;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div {
    max-width: 100%;
    padding: 20px;
    background-color: #DDDEE2;
    text-align: center;
    vertical-align: middle;

      }

main {
    margin-left: auto;
    margin-right: auto;
    background-color:#B8B9CD;
    box-shadow: 0 0 10px #000;
}

section {
    max-width: 325px;
    height: 350px;
    margin-right: 5px;
    margin-top: 5px;
    background-color:#B8B9CD;
    justify-content: center;
    border: 1px solid #5E5C7B;
}

.cards, .utah {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.utah h2 {
    padding-bottom: 20px;
}

img {
max-width: 50%;
vertical-align: middle;
display: inline;
box-shadow: 0 0 20px #000;
}

footer {
    max-width: 820px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px solid #555;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}