@media only screen and (min-width: 800px) {
  main {
    max-width: 1150px;
    margin: auto;
  }

  main .largerp {
    margin: 0 auto;
  }

  .falls  img{
    max-width: 1000px;
  }

  footer {
    margin: auto;
  }

  div .article {
  margin-top: 30px;
  }

  .heading h1 {
    font-size: 45px;
  }
}
