body {

    margin: 0 auto;
    background-color:  #d8e3ff; 
}
.satBanner {
  display: flex;
  background-color: #f4d35f;
  color: #172a39;
  padding: 15px;
  align-items: center;
  text-align: center;
}

.satBanner p {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
header {
  display: flex;
  background-color: #172a39;
  color: #f4d35f;
	padding: 0px;
	align-items: center;
	justify-content: center;
}
header img {
  width: 70px;
  padding: 15px;
}

header h1 {
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px 5px 0px 0px;
}

.byline {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #f4d35f;
  }

nav button{
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 0px 5px;
  background-color: #d8e3ff;
  color: #172a39;
  border: #172a39; 
  font-size: 44px;
  border-radius: 5px;
  justify-content: center;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background-color: #172a39;
  font-family: 'Poppins', sans-serif;
}
nav ul{
  list-style-type: none;
  padding: 15px;
  margin: 0 auto;
} 
nav ul li a {
  display: block;
  padding: 15px 2%;
  text-decoration: none;
  color: #d8e3ff;
  }
nav ul li a:hover {
  background-color: #f4d35f;
  color: #172a39;
  border-radius: 5px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
nav ul.hide {
    display: none;
}

main {
  display: block; 
    
}

main h2 {
   color: #172a39;
   font-size: 40px;
  font-family: 'Bree Serif', serif;
  margin-left: 20px;
}

.largerp {
  color: #172a39;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  padding: 15px 15px 15px 15px;
  margin: 5px;  
}

main {
  display: block;  
}

main div {
  display: block;
  background-color: #d8e3ff;
  border: 3px solid #4c86a9;
  box-shadow: 0px 0px 5px 5px #4c86a9;
  
}
footer{
  max-width: 960px;
  background-color: #172a39;
  color: #d8e3ff;
  border: none;
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-family: 'Poppins', sans-serif;
  }

footer a {
  color: #d8e3ff;
}
footer a:hover {
   color: #f4d35f;
}
footer p {
  background-color: #172a39;
  color: #d8e3ff;
}

/*.shoshoneFalls {
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
}*/

