@media only screen and (min-width: 551px) {

  main {
    max-width: 1150px;
    margin: auto;
  }

  main .largerp {
    margin: 0 auto;
  }

  .hero-div {
   max-width: 1440px;
  }

  .hero-div img {
    max-width: 100%;
  }

  .overlay {
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
  }

  nav ul li {
    font-size: 18px;
  }
  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img {
    max-width: 400px;
  }

  figcaption {
    font-size: 15px;
  }

  .rainstorm{
    max-width: 500px;
  }
.towns {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    text-align: center;
}

.tourism {
  max-width: 1200px;
  margin: 0 auto;
}

.tourism img {
  padding: 0px 50px 0px 5px;
}

  footer {
    margin: auto;
  }

  footer li .map {
    max-width: 500px;
  }

  div .article {
    margin-top: 30px;
  }

  .heading h1 {
    font-size: 45px;
  }
}