@media only screen and (min-width: 770px) {

  main {
    max-width: 1150px;
    margin: auto;
  }

  main .largerp {
    margin: 0 auto;
  }

  .hero-div {
   max-width: 1440px;
  }

  .overlay {
    position: absolute;
    margin-top: 90px;
    margin-left: 20px;
  }

  nav ul li {
    font-size: 18px;
  }

  .gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img {
    max-width: 400px;
  }

  figcaption {
    font-size: 15px;
  }

  .rainstorm{
    max-width: 500px;
  }

  .towns div {
    display: block;
  }
  .towns div section {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.towns h3 {
  margin-right: 20px;
}
.towns img {
  width: 100%;
}

  .homepage .towns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    margin-right: 80px;
  }

  .form {
    width: 750px;
  }

.tourism {
  margin: 0 auto;
  text-align: left;
}

.tourism img {
margin-right: 75px;
margin-left: 50px;
}

  footer {
    margin: auto;
  }

  footer li .map {
    max-width: 500px;
  }

  div .article {
    margin-top: 30px;
  }

  .heading h1 {
    font-size: 45px;
  }
}