/*Medium Screen*/
@media only screen and (min-width: 550px) {
  body {
    max-width: 1150px;
    box-sizing: border-box;
  }

  picture img {
    max-width: 1150px;
  }

  .heading h1 {
    font-size: 25px;
  }

  .byline p {
    font-size: 18px;
  }

  #primaryNav {
    display: flex;
    margin-top: 0;
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  nav ul li {
    flex: 1 1 100%;
    text-align: center;
  }

  .hero-div img {
    width: 100%;
    position: relative;
    padding: 0px;
    align-items: center;
    justify-content: center;
  }

  .overlay {
    width: 250px;
    position: relative;
    margin-top: -250px;
    margin-left: 10px;
    margin-bottom: 75px;
    box-shadow: 0px 0px 30px 3px #d8e3ff;
  }
  
  .overlay li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: #172a39;
    font-weight: bold;
    margin-left: -30px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  figure {
    height: 325px;
  }

  .gallery img {
    max-width: 400px;
  }

  .article {
    margin-top: 20px;
  }

  main .largerp {
    margin: 0 auto;
  }

  .article h3 {
    margin-left: 10px;

  }

  .article p {
    font-size: 15px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .rainstorm {
    float: right;
    max-width: 350px;
    display: block;
    margin-right: 10px;
    margin-left: 10px;
  }

  .falls {
    display: flex;
    max-width: 100%;
    margin: 0px;
    background-color: #d8e3ff;
  }

  .fdfc {
    display: block;
  }

  tbody {
    align-content: center;
  }

  .fdfc table {
    width: 97%;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 3px rgba(76, 134, 169, 1);
    color: #172a39;
    padding: 10px;
    align-items: center;
  }

  .fdfc h3 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    color: #172a39;
    margin-left: 10px;
  }

  .dayofweek {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #f4d35f;
    color: #172a39;
    font-size: 18px;
  }

  .icons {
    background-color: rgba(76, 134, 169, 1);
  }

  .icons img {
    max-width: 75px;
  }

  .forecast {
    font-family: 'Poppins', sans-serif;
    background-color: #f4d35f;
    color: #172a39;
    font-weight: bold;
    font-size: 18px;
  }

  .article h3 {
    font-size: 18px;
  }

  figcaption {
    font-size: 12px;
  }

  /*Home Page */
  .homepage {
    margin-left: auto;
    margin-right: auto;
  }

  .homepage .towns {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .towns div {
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
  }

  .towns div section {
    width: 50%;
  }

  .towns div:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .towns h2 {
    margin-top: 20px;
  }

  .towns p {
    vertical-align: middle;
  }

  .towns img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .tourism {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  .tourinfo {
    width: 100%;
  }

  .tourism img {
    float: right;
    margin-right: 20px;
    margin-left: 15px;
  }

  /*storm center*/
  .form {
    width: 50%;
    text-align: left;
  }

  form legend {
    width: auto;
  }

  form label.contact input,
  form label.date input,
  form label.comments input,
  form label.contact select,
  form label.comments select {
    font-size: 15px;
  }

  form label.comments select {
    font-size: 15px;
  }

  input,
  select,
  textarea {
    width: 90%;
  }

  .footer,
  .social-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .social-media img {
    max-width: 30px;
    padding: 10px 15px 0px 0px;
  }

  .footer img {
    max-width: 650px;
    margin: 0;
  }

  footer li .map {
    max-width: 350px;
  }

  .copy .copyright,
  .copy #date,
  .copy .counter {
    display: flex;
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}