@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');
/*All pages*/
body {
  margin: 0 auto;
  min-width: 250px;
  max-width: 499px;
  background-color: #d8e3ff;
}

header {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: #172a39;
  color: #f4d35f;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 0;
  background-color: #d8e3ff;
}

header img {
  width: 70px;
  padding: 15px 0;
}

header .heading h1 {
  font-family: 'Bree Serif', serif;
  font-size: 26px;
  margin: 0;
  padding: 10px;
}

.byline p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #f4d35f;
  padding-right: 5px;
}

#primaryNav {
  font-size: 15px;
}

nav button {
  padding: 0px 5px;
  background-color: #d8e3ff;
  color: #172a39;
  border: #172a39;
  font-size: 30px;
  border-radius: 5px;
  margin: 5px;
 }

nav {
  max-width: 100%;
  margin: 0 auto;
  background-color: #172a39;
  font-family: 'Poppins', sans-serif;
}

nav ul {
  list-style-type: none;
  padding-right: 15px;
  margin: 0;
 }

 nav ul li {
  padding-bottom: 15px;
 }

nav ul li a {
  display: block;
  padding: 15px 2%;
  text-decoration: none;
  color: #d8e3ff;
}

nav ul li a:hover {
  background-color: #f4d35f;
  color: #172a39;
  border-radius: 5px;
}

nav ul li a:active {
  background-color: #f4d35f;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

nav ul.hide {
  display: none;
}

.active {
  background-color: #f4d35f;
  color: #172a39;
  border-radius: 5px;
}

/*Preston page*/
.satBanner {
  max-width: 100%;
  display: none;
  background-color: #f4d35f;
  color: #172a39;
  padding: 15px;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}

 .overlay {
  width: 240px;
    display: block;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(76, 134, 169, .75);
    border-radius: 5px;
    grid-template-columns: auto;
  }
  
  .overlay h2 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .overlay ul {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: #172a39;
    font-size: 15px;
    font-weight: bold;
  }
  
  main {
    display: block;
    max-width: 100%;
  }

main .preston h2 {
  display: block;
  color: #172a39;
  font-size: 20px;
  font-family: 'Bree Serif', serif;
  margin-top: 20px;
  margin-left: 10px;
}

.article h3 {
  font-weight: bold;
  font-family: 'Bree Serif', serif;
  color: #172a39;
  font-size: 15px;
  margin-top: 50px; 
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
}

.article {
  display: block;
}

.article p {
  font-family: 'Poppins', sans-serif;
  color: #172a39;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.rainstorm {
  max-width: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px 3px rgba(76, 134, 169, 1);
}

/*storm center*/
.form { 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form h1 {
  margin: 15px;
  font-family: 'Bree Serif', serif;
  font-size: 26px;
  color: #172a39;
}

.form fieldset {
  text-align: left;
  border: 5px solid rgba(76, 134, 169, 1);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

fieldset label.contact select {
  padding: 10px;
}

.form legend {
  font-weight: bold;
  color: #172a39;
  margin: 0px 0px 10px 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 10px;
}

form label.contact {
    display: block;
    color: #172a39;
    font-size: 18px;
    margin-top: 20px;
}

form label.contact input,
form label.date input,
form label.comment input,
form label.comment select {
    display: block;
    font-size: 18px;
    border: solid 3px rgba(76, 134, 169, .75);
    border-radius: 4px;
    padding: 10px 0px 10px 5px;
    color: #172a39;
    background-color: #fff;  
}

form.label.contact input:valid {
  background-color: #fff;
}

form label.contact input:invalid {
 background-color: #f4d35f;
}

form input.submitBtn {
  border: none;
  font-family: 'Poppins', sans-serif;
  background-color: #172a39;
  color: #f4d35f;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 280px;
}

form label.details, 
form label.dropdown,
form label.range {
  display: block;
}

.danger label.radio{
  display: block;
  margin: 0px;
  text-align: left;
  width: 35%;
  line-height: 1em;
}

.danger p {
  margin-bottom: 0;
}

.details,
.dropdown, 
.range {
  margin-bottom: 20px;
}

[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  height: 1em;
  width: 1.5em;
}

textarea{
  width: 75%;
  margin: 10px;
  border: solid 3px rgba(76, 134, 169, .75);
}

/*thanks page*/
.thanks h2 {
  color: #172a39;
  font-family: 'Bree Serif', serif;
  margin-left: 10px;
}

.thanks p {
  color:#172a39;
  font-family: 'Poppins', sans-serif;
  margin-right: 10px;
  margin-left: 10px;
}

header .thanks  {
  width: 280px;
  margin-left: 5px;
}

.thanks .byline {
  font-family: 'Poppins', sans-serif;
  color: #f4d35f;
  font-size: 15px;
}

.dayofweek {
  text-align: center;
  max-width: 100%;
  margin: 0;
}

.fdfc {
    display: none;
}

/*Gallery page*/
figcaption {
  padding: 15px;
  font-size: 10px;
  font-family: 'Poppins'; 
}

.gallery {
  display: grid;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  grid-template-columns: 1fr;
}

.gallery img {
  width: 100%;
  filter: blur(0px);
  transition: filter 0.5s;
}

.gallery figure:hover {
  box-shadow: 0px 0px 30px 3px rgba(76, 134, 169, .75);
}

img[data-src] {
  filter: blur(5px);
}

.gallery .placeholder {
  max-width: 400px;
}
  
figure {
  max-width: 400px;
}

/*Home page*/
main .homepage {
  max-width: 500px;
}

.homepage {
  margin-bottom: 20px;
  text-align: center;
}

.homepage .links {
  text-align: left;
}

 .hero-div img {
  padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #d8e3ff;
  }

.towns h2 {
  font-family: 'Bree Serif', serif;
  color: #172a39;
  font-size: 25px;
}

.towns h3 {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #172a39;
  margin-left: 10px;
}

.towns p {
  font-family: 'Poppins', sans-serif;
  color: #172a39;
  font-size: 16px;
  margin-left: 10px;
}

.towns img {
  box-shadow: 0px 0px 30px 3px rgba(76, 134, 169, 1);
  margin: 10px;
  max-width: 280px;
  width: 90%;
}

div .tourism {
  max-width: 500px;
}

.tourism img { 
  box-shadow: 0px 0px 30px 3px rgba(76, 134, 169, .75);
  margin: 10px;
  max-width: 260px;
}

.tourism h4 {
  color: #172a39;
  font-size: 18px;
  font-family: 'Bree Serif', serif;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.tourism p {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  color: #172a39;
  font-size: 15px;
  margin: 10px;
}

.tourism a {
  font-family: 'Poppins', sans-serif;
  color: #172a39;
  font-size: 15px;
  margin: 10px;
}

.tourinfo {
  text-align: left;
}

/*All pages*/
.footer {
  max-width: 100%;
  flex-flow: row;
  font-family: 'Poppins', sans-serif;
  background-color: #172a39;
  padding: 30px 0px 30px 0px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.footer h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: left;
  color: #f4d35f;
}

.footer h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: left;
  color: #f4d35f;
}

.footer ul {
  padding: 15px;
  margin: 0 auto;
  text-align: left;
}

.footer li {
  list-style-type: none;
  padding: 25px;
  margin-left: 50px;
}

img.map {
  width: 80%;
}

.footer .social-media {
  display: block;
  flex-flow: row;
  background-color: #172a39;
  max-width: 100%;
  margin: 0px;
}

.social-media a {
  padding: 5px;
}

.social-media img {
  max-width: 25px;
  padding: 10px 15px 0px 0px;
}

footer a {
  color: #d8e3ff;
}

footer a:hover {
  color: #f4d35f;
}

footer p {
  background-color: #172a39;
  color: #d8e3ff;
  text-align: left;
  font-size: 12px;
}

.copy {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #172a39;
  color: #d8e3ff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 25px;
}

.copy a {
  color: #d8e3ff;
}

.copy a:hover {
  color:#f4d35f;
}

.copy a:visited {
  color: rgba(76, 134, 169, 1);
}

#date {
  height: 50px;
}

footer .copy #date {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #d8e3ff;
  background-color: #172a39;
  text-align: center;
}

