@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&family=Stoke&display=swap');

body {
    margin: 0 auto;
    min-width: 250px;
    max-width: 499px;
    background-color: #fee9c1;
}

main {
    margin: 0 auto;
    min-width: 250px;
    max-width: 499px;
}

header {
    max-width: 100%;
    margin-top: 0px;
    display: flex;
    background-color: #ffcc00;
    color: #910101;
}

header img {
    width: 70px;
    height: 55px;
    padding: 20px 20px 0px 10px;
}

.heading h1 {
    font-family: 'Stoke', serif;
    color: #910101;
    font-size: 25px;
    padding: 0px 20px 0px 0px;
    text-align: left;
}

.byline p {
    display: block;
    color: #910101;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding: 0px 20px 10px 5px;
    margin-bottom: 0px;
}

.banner img {
    position: relative;
    text-align: center;
    max-width: 280px;
    margin: 0;
    display: flex;
}

#primaryNav {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 0px;
}

nav button {
    padding: 0px 5px;
    background-color: #fee9c1;
    color: #3c1414;
    font-size: 30px;
    border-radius: 5px;
    margin: 5px;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: #910101;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style-type: none;
    padding-right: 15px;
    margin: 0;
}

nav ul li {
    padding-bottom: 15px;
}

nav ul li a {
    display: block;
    padding: 15px;
    margin: 2px;
    text-decoration: none;
    color: #fee9c1;
}

nav ul li a:hover {
    background-color: #fee9c1;
    color: #3c1414;
    border-radius: 5px;
}

nav ul li a:active {
    background-color: #fee9c1;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

nav ul.hide {
    display: none;
}

.active {
    background-color: #fee9c1;
    color: #3c1414;
    border-radius: 5px;
}

h2 {
    color: #910101;
    font-family: 'Stoke', serif;
}

h3 {
    color: #910101;
    font-family: 'Stoke', serif;
    font-size: 1rem;
    margin-bottom: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #3c1414;
    font-size: 15px;
}

p.caption {
    font-size: 12px;
}

h2,
h3,
p,
p.caption {
    margin-right: 10px;
}

.weather {
    padding: 5px;
    max-width: 75%;
    display: block;
    border: 5px solid #4f7942;
    margin-bottom: 20px;
    margin-left: 10px;
}

.weather #belen-weather th {
    font-weight: bold;
    color: #910101
}

#belen-weather {
    margin-top: 20px;
    display: block;
    align-content: center;
    margin-bottom: 20px;
}

#belen-weather th,
#belen-weather td {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #3c1414;
    text-align: left;
    margin-left: 20px;
}

.thdfc {
    display: none;
}

.alert {
    width: 75%;
    margin-left: 10px;
    background-color: #910101;
    color: #ffcc00;
    padding: 10px 10px 10px 20px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 3px 3px 5px 3px #3c1414;
    border-radius: 5px;
}

.alert a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #ffcc00;
}

span.close {
    font-size: 25px;
}

.close button {
    margin-left: 20px;
    color: #ffcc00;
    font-weight: bold;
    float: right;
    transition: 0.3s;
}

.about {
    margin-left: 10px;
    margin-right: 10px;
}

.about h2 {
    font-family: 'Stoke', serif;
}

.about p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.owner {
    color: #4f7942;
    font-weight: bold;
    font-size: 15px;
}

.highlight {
    text-align: left;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.highlight img {
    text-align: center;
    max-width: 240px;
    margin-right: 25px;
    margin-left: 0px;
    box-shadow: 3px 3px 5px 3px #3c1414;
}

#gringas,
#craig,
#travertine {
    display: block;
    margin-bottom: 25px;
}

.joinbutton a {
    width: 75%;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: #910101;
    color: #ffcc00;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 3px 3px 5px 3px #3c1414;
}

.events {
    margin: 40px 20px 20px 10px;
}

#kind {
    font-size: 20px;
    font-family: 'Stoke', serif;
    color: #910101;
    font-weight: bold;
    margin-top: 25px;
}

.events a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #3c1414;
    font-size: 18px;
    font-weight: bold;
}

#history,
.ttd {
    margin: 15px;
}

#history a,
.ttd a,
footer a {
    font-family: 'Roboto', sans-serif;
    color: #910101;
    font-size: 18px;
}

#history a:visited,
.ttd a:visited,
footer a:visited {
    color: #4f7942;
}

.movies img,
.livelihood img,
.currently img,
.ttd img {
    text-align: center;
    max-width: 250px;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 3px 3px 5px 3px #3c1414;
}

#history img {
    max-width: 240px;
    text-align: center;
    margin-right: 20px;
    margin-left: 15px;
    box-shadow: 3px 3px 5px 3px #3c1414;
}

.demographics {
    padding: 5px;
    max-width: 100%;
    display: block;
    border: 5px solid #4f7942;
    margin: 20px 10px 20px 10px;
}

.demographics table,
.demographics h3,
.demographics p {
    margin: 10px;
}

.demographics td {
    text-align: left;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #3c1414;
    font-size: 15px;
}

table .bold {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #3c1414;
    font-size: 15px;
    padding-right: 20px;
}

.movies,
.livelihood,
.currently {
    margin-left: 10px;
    margin-right: 10px;
}

.movies ul,
.attributes li {
    font-family: 'Roboto', sans-serif;
    color: #3c1414;
    font-size: 15px;
}

.attributes li+li {
    margin-bottom: 5px;
    margin-top: 5px;
}

div.attributes {
    justify-content: center;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.attributes ul li {
    list-style-type: none;
}

.attributes li a {
    text-decoration: none;
    color: #3c1414;
}

.attributes li a:visited {
    color: #4f7942;
} 

.attributes p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.attributes p.owner {
    margin-top: 20px;
    margin-bottom: 0;
    color: #910101;
}

footer {
    margin-top: 40px;
    font-weight: bold;
    background-color: #ffcc00;
    text-align: center;
}

footer div#today {
    margin-top: 20px;
    margin-right: 20px;
    color: #3c1414;
    font-family: 'Roboto', sans-serif;
    background-color: #ffcc00;
 }  