@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap');

body {
  margin: 0;
  background-color: #d8e3ff;
}

header {
  max-width: 960px;
  margin: 0 auto;
  background-color: #172a39;
  color: #f4d35f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

nav {
  background-color: #172a39;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}

nav ul li a {
  display: block;
  color: #d8e3ff;
  text-align: center;
  padding: 15px 2%;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  background-color: #f4d35f;
  color: #172a39;
  border-radius: 5px;
}

main {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}


h1 {
  font-size: 40px;
  font-family: 'Bree Serif', serif;
}

h2 {
  color: #172a39;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
  margin-left: 10px;
}

.columns h3 {
  color: #172a39;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
main .scenarios h3 {
  color: #172a39;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.columns p {
  color: #172a39;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.palette img,
.columns img {
  max-width: 700px;
  margin-bottom: 25px;
  border: 2px solid #172a39;
  box-shadow: 3px 3px 10px 5px #8a7968;
}

.molly img,
.zack img {
  max-width: 300px; 
  margin-bottom: 10px;
  border: 2px solid #172a39;
  box-shadow: 3px 3px 10px 5px #8a7968;
}

.molly p,
.zack p,
.scenarios p {
  color: #172a39;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  margin: 10px 0px 10px 5px;
}

footer {
  display: flex;
  max-width: 960px;
  background-color: #172a39;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 30px 0px 30px 0px;
}

footer p {
  background-color: #172a39;
  color: #d8e3ff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 12px;
  padding: 30px 0px 30px 0px;
}

footer a {
  color: #d8e3ff;
}

footer a:hover {
  color: #f4d35f;
}
